@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<div id="content_wrapper">
    <div id="content">
        @Body
    </div>
</div>

<footer>
    <p>
        <a href="#">Privacy & Cookies</a>
        <a href="#">Website Terms of Use</a>
        <a href="#">Trademarks</a>
        <a href="#">Report Abuse</a>
        <span>&copy; @DateTime.Now.Year - Baraki N.V.</span>
    </p>
</footer>
