<h1 id="header_logo"><a href="/"><img src="images/logo.png" alt="Baraki N.V" /></a></h1>
<nav>
    <ul>
        <li>
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/Reviews">
                <span class="oi oi-home" aria-hidden="true"></span> Reviews
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/Create">
                <span class="oi oi-home" aria-hidden="true"></span> Add a review
            </NavLink>
        </li>
    </ul>
</nav>