<nav>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="Reviews">
                Reviews
            </NavLink>
        </li>
        <li>
            <NavLink href="Create">
                Add a review
            </NavLink>
        </li>
    </ul>
</nav>

